body {
font-family: Arial;
background: #111;
color: white;
}
#messages div {
max-width: 90%;
padding: 8px;
margin: 4px;
border-radius: 10px;
background: #222;
word-break: break-word;
}
input, button {
width: 100%;
margin: 4px 0;
}
video {
width: 45%;
}